<!doctype html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	</head>

<body ng-app="sample"> 
	<div ng-controller="GroceryListController">
		Add to list:<input type="text" ng-model="newitem"/>
		<p>Number of items: {{items.length}}</p>
		<button ng-click="addItem()">Add</button>
		<h2>Grocery Items:</h2>

		<ul>
			<li ng-repeat="item in items"> {{item}} </li>
		</ul>
	</div>

	<script type="text/javascript">
		angular.module("sample", []) 
			.controller("GroceryListController", function ($scope){
			$scope.items=["coffee"];

			$scope.addItem = function() {
				$scope.items.push($scope.newitem);
				$scope.newitem = "";
			}
		});
	</script>
</body> 
</html>
